//css variables
$text-dark-color:#D5D5D4;
// font faces
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: Roboto-Bold;
    src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
    font-family: Roboto-Medium;
    src: url(../fonts/Roboto-Medium.ttf);
}
@font-face {
    font-family: Lato-R;
    src: url(../fonts/Lato-Regular.ttf);
}
@font-face {
    font-family: Lato-B;
    src: url(../fonts/Lato-Bold.ttf);
}

.neon-1{
    color: #F26843;
    text-shadow: 5px 5px 10px #f27a5760;
}

.neon-2{
    color: #CC2F36;
    text-shadow: 5px 5px 10px #D33D3E60;
}

.neon-3{
    color: #363A77;
    text-shadow: 5px 5px 10px #3C437A60;
}
.neon-4{
    color: #F2AB3F;
    text-shadow: 5px 5px 10px #F8AD4860;
}
.nav-bars{
    width: 20px;
    border-top:2px solid #D5D5D4 ;
    border-radius: 5px;
    position: relative;
    margin-top: -9px;
    transition: 0.5s;
    overflow: visible;
    &::after{
        content: "";
        transition: 0.5s;
        position: absolute;
        width: 100%;
        border-top:2px solid #D5D5D4 ;
        border-radius: 5px;
        bottom: -10px;
        left: 0;
    }
}

.charm-font{
    font-family: 'Charm', cursive;
    font-weight: 700;
}

.is-visible{
    opacity: 1 !important;
    transform: translateY(-50px) rotateZ(0deg) !important;
}

.close-bars{
    transform: rotate(45deg);
    margin-top: -2px;
    overflow: visible;
    &::after {
        bottom: 0px;
        transform: rotate(-90deg);
        left: 0px;
    }
}

.nav-active-content{
    overflow-x: hidden;
    overflow-y: hidden;
    #sm-navSection{
        transform: translateX(0);
        overflow-x: hidden;
        overflow-y: hidden;
    }
    // #mainContent{
    //     transform: translateX(300px);
    // }
    .close-bars{
        overflow: visible;
    }
}
.tooltip{
    visibility: hidden;
    position: absolute;
    font-family: Lato-R;
    color: black;
}
.has-tooltip:hover .tooltip {
    visibility: visible;
    z-index: 100;
    top: -10px;
}

  